.mnote
{
    text-align: center;
    height: 80px;
    color:greenyellow;
    font-weight: bold;
    line-height: 80px;
}

.booking
{
    
    width: 90%;
    border: #707B7C;
    margin-bottom: 2%;
}
ul{ 
    border: 1px solid gray; 
    border-radius: 3px; 
    padding: 7px; 
    margin-bottom: 30px; 
    width: 70%; 
    margin-left: 7.3%; 
    float: left; 
    background-color: #a7cadb;
} 
#s{ 
    float: right; 
    color: red ; 
    font-style: bold; 
    font-weight: 20px; 
} 
#p{ 
    float: right; 
    color: purple; 
    font-style: bold; 
    font-weight: 20px; 
} 
#date{ 
    color:gray; 
    float:top; 
    text-align: left;
} 
#name
{ 
    text-align: left;
    font-size: 30px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color:#566573 
} 
#add{ 
    text-align: left;
    color: #707B7C 
}
.box{
    background: #cceff5;
}
#shadow{
-webkit-box-shadow: 10px 104px 179px 46px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 104px 179px 46px rgba(0,0,0,0.15);
box-shadow: 10px 104px 179px 46px rgba(0,0,0,0.15);
}
#box1{ 
    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    margin-top: 5%; 
    padding-top: 3%; 
    padding-bottom: 3%; 
    padding-right: 3%; 
    padding-left: 3%; 
    }