<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
<nav class="navbar navbar-expand-sm " style="border: black"> 
    <!-- Brand --> 
    <a class="navbar-brand"><img src="https://nursing.gwu.edu/sites/g/files/zaxdzs1226/f/image/Give.png" width="200px" height="80px"></a> 
    
    <!-- Links --> 
    <ul class="navbar-nav" style="padding-left: 80%"> 
    
    
    <!-- Dropdown --> 
    <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" hid="navbardrop" data-toggle="dropdown"> 
    {{Name}}<img src="http://www.clker.com/cliparts/b/1/f/a/1195445301811339265dagobert83_female_user_icon.svg.med.png" width="20px" height="20px"> 
    </a> 
    <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
    <a class="dropdown-item" routerLink="/navbar/profile">{{Name}} Profile</a> 
    <a class="dropdown-item" routerLink="/navbar/booking"><i class="fa fa-edit"></i> My Bookings {{total}}</a> 
    <a class="dropdown-item" routerLink="/navbar/faq"><i class="fa fa-envelope"></i> FAQs </a> 
    <a class="dropdown-item" (click)=Logout()><i class="fa fa-car"></i> Log Out</a> 
    <div class="dropdown-divider"></div> 
    
    </div> 
    
    </li> 
    </ul> 
    </nav> 
    <hr>
    <h3><p class="center dynamicHeader" style="color:yellowgreen; text-align:center;">{{header}}</p></h3> 
    <router-outlet></router-outlet>